<nav *ngIf="paginas.length > 0" aria-label="Paginación listado de clientes" id="nav-paginador">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" *ngIf="hayPaginaAnterior()"
                [routerLink]="['/clientes', 'page', paginacionCliente.number - 1]">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" [ngClass]="{'disabled' : paginacionCliente.first}">
            <a [routerLink]="['/clientes', 'page', 0]" class="page-link">Primera</a>
        </li>

        <li *ngFor="let pagina of paginas" class="page-item" [ngClass]="{'active': esPaginaActual(pagina)}">
            <a *ngIf="esPaginaActual(pagina)" class="page-link">{{pagina}}</a>
            <a *ngIf="!esPaginaActual(pagina)" class="page-link"
                [routerLink]="['/clientes', 'page', pagina - 1]">{{pagina}}</a>
        </li>

        <li class="page-item" [ngClass]="{'disabled' : paginacionCliente.last}">
            <a [routerLink]="['/clientes', 'page', paginacionCliente.totalPages - 1]" class="page-link">Última</a>
        </li>
        <li class="page-item">
            <a class="page-link" *ngIf="hayPaginaSiguiente()"
                [routerLink]="['/clientes', 'page', paginacionCliente.number + 1]">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>