<h3 class="text-center mb-4">Listado de clientes</h3>
<div *ngIf="clientes.length == 0" class="alert alert-info">
    <strong>No hay clientes para mostrar</strong>
</div>
<div *ngIf="clientes.length > 0" class="card">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <!-- <th *ngIf="authService.hasRole('ROLE_USER')">#</th> -->
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <!-- <td *ngIf="authService.hasRole('ROLE_USER')">
                        <img src="{{ cliente.foto | imagen }}" alt="{{ cliente.nombre }}" class="img-table"
                            (click)="abrirModal(cliente)" data-bs-toggle="modal"
                            data-bs-target="#modal-detalle-cliente">
                    </td> -->
                    <td>
                        <img src="{{ cliente.foto | imagen }}" alt="{{ cliente.nombre }}" class="img-table"
                            (click)="abrirModal(cliente)" data-bs-toggle="modal"
                            data-bs-target="#modal-detalle-cliente">
                    </td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido | uppercase }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createAt | date:'EEEE dd, MMMM yyyy'}}</td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" [routerLink]="['/clientes', 'form', cliente.id]"
                            class="btn btn-primary btn-sm">editar</button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" (click)="delete(cliente)" class="btn btn-danger btn-sm">eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-paginator [paginacionCliente]="paginacionCliente"></app-paginator>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-detalle-cliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal-detalle-clienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>