<h3 class="text-center mb-4">{{ titulo }}</h3>
<div class="card">
    <ul *ngIf="errores.length > 0" class="form-text text-danger">
        <li *ngFor="let error of errores">{{ error }}</li>
    </ul>
    <div class="card-body">
        <form #clienteForm="ngForm">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <!-- <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre"
                    #nombre="ngModel" required minlength="4"> -->
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre"
                    #nombre="ngModel">
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="form-text text-danger">
                    <div *ngIf="nombre.errors!['required']">Nombre es requerido</div>
                    <div *ngIf="nombre.errors!['minlength']">Nombre debe tener al menos 4 caracteres</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <!-- <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="cliente.apellido"
                    #apellido="ngModel" required> -->
                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="cliente.apellido"
                    #apellido="ngModel">
                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="form-text text-danger">
                    <div *ngIf="apellido.errors!['required']">Apellido es requerido</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <!-- <input type="text" class="form-control" id="email" name="email" [(ngModel)]="cliente.email"
                    #email="ngModel" required email> -->
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="cliente.email"
                    #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">
                    <div *ngIf="email.errors!['required']">Email es requerido</div>
                    <div *ngIf="email.errors!['email']">Debe tener un formato de email válido</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="createAt" class="form-label">Fecha</label>
                <div class="w-100">
                    <input matInput [matDatepicker]="miPicker" class="form-control input-fecha" id="createAt"
                        name="createAt" [(ngModel)]="cliente.createAt">
                    <mat-datepicker-toggle matSuffix [for]="miPicker"></mat-datepicker-toggle>
                    <mat-datepicker #miPicker></mat-datepicker>

                </div>
            </div>
            <div class="mb-3">
                <label for="region" class="form-label">Región</label>
                <select [compareWith]="compararRegion" class="form-select" id="region" name="region" [(ngModel)]="cliente.region">
                    <option [ngValue]="undefined">--Seleccionar--</option>
                    <option *ngFor="let region of regiones" [ngValue]="region">{{ region.nombre }}</option>
                </select>
            </div>

            <button type="button" [disabled]="clienteForm.invalid" (click)="create()" *ngIf="!cliente.id"
                class="btn btn-success">Guardar</button>
            <button type="button" [disabled]="clienteForm.invalid" (click)="update()" *ngIf="cliente.id"
                class="btn btn-warning">Actualizar</button>
        </form>
    </div>
</div>