<div *ngIf="factura" class="card">
    <div class="card-header">
        {{ titulo }}: {{ factura.descripcion }}
    </div>
    <div class="card-body">
        <h4 class="card-title">
            <a [routerLink]="['/clientes']" class="btn btn-light btn-sm">&laquo; volver</a>
        </h4>
        <form #clienteForm="ngForm">
            <div class="mb-3">
                <label for="cliente" class="form-label">Cliente</label>
                <input type="text" id="cliente" [value]="factura.cliente?.nombre + ' ' + factura.cliente?.apellido"
                    class="form-control" disabled>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion"
                    [(ngModel)]="factura.descripcion">
            </div>
            <div class="mb-3">
                <label for="observacion" class="form-label">Observación</label>
                <textarea class="form-control" id="observacion" name="observacion"
                    [(ngModel)]="factura.observacion"></textarea>
            </div>
            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Producto</mat-label>
                    <input type="text" placeholder="Añadir producto" aria-label="Producto" matInput
                        [formControl]="autocompleteControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre"
                        (optionSelected)="seleccionarProducto($event)">
                        <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                            {{ producto.nombre }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div *ngIf="(factura.items == undefined) || factura.items.length == 0" class="alert alert-info my-4">
                No hay items asignadas para la factura. Debe agregar almenos una!
            </div>
            <div *ngIf="factura.items && !(factura.items?.length == 0)" class="mb-3">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of factura.items">
                            <td>{{ item.producto?.nombre }}</td>
                            <td>{{ item.producto?.precio }}</td>
                            <td><input type="number" [value]="item.cantidad"
                                    (change)="actualizarCantidad(item.producto!.id!, $event)" class="form-control"
                                    aria-label="Cantidad"></td>
                            <td>{{ calcularImporte(item) }}</td>
                            <td><button type="button" (click)="eliminarItem(item.producto!.id!)"
                                    class="btn btn-danger btn-sm">x</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-end">Gran total</th>
                            <th>
                                <span class="badge bg-secondary">{{ calcularGranTotal() }}</span>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <button type="submit" class="btn btn-success">Crear factura</button>
        </form>
    </div>
</div>