<h3 class="text-center mb-4">{{ titulo }}</h3>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <ul *ngIf="cliente" class="list-group mb-2">
                    <li class="list-group-item">{{ cliente.nombre }}</li>
                    <li class="list-group-item">{{ cliente.apellido }}</li>
                    <li class="list-group-item">{{ cliente.email }}</li>
                    <li class="list-group-item">{{ cliente.createAt | date:'fullDate' }}</li>
                    <li class="list-group-item">{{ cliente.region!.nombre }}</li>
                </ul>
            </div>
            <div *ngIf="cliente" class="col-sm">
                <img src="{{ cliente.foto | imagen }}" alt="{{ cliente.nombre }}" class="img-fluid">
            </div>
            <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="col-12">
                <div class="input-group my-2">
                    <input type="file" #inputFoto (change)="seleccionarFoto($event)" class="form-control"
                        aria-label="Foto">
                    <button type="button" [disabled]="!fotoSeleccionada" (click)="subirFoto()"
                        class="btn btn-warning">Subir</button>
                </div>
                <div *ngIf="progreso > 0" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        attr.aria-valuenow="{{ progreso }}" aria-valuemin="0" aria-valuemax="100"
                        aria-label="Progreso de subida de foto" [ngStyle]="{width: progreso + '%'}">
                        {{ progreso }}%
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cliente.facturas?.length == 0" class="alert alert-info my-4">
            No hay facturas asignadas para el cliente {{ cliente.nombre }} {{cliente.apellido }}
        </div>
        <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="row">
            <button type="button" [routerLink]="['/facturas', 'form', cliente.id]" class="btn btn-success btn-sm">
                crear factura
            </button>
        </div>
        <div *ngIf="!(cliente.facturas?.length == 0)" class="row">
            <div class="col">
                <table class="table table-bordered table-striped my-4">
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Descripción</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Detalle</th>
                            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let factura of cliente.facturas">
                            <td>{{ factura.id }}</td>
                            <td>{{ factura.descripcion }}</td>
                            <td>{{ factura.createAt }}</td>
                            <td>{{ factura.total }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"
                                    [routerLink]="['/facturas', factura.id]">
                                    ver
                                </button>
                            </td>
                            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                                <button type="button" class="btn btn-danger btn-sm" (click)="delete(factura)">
                                    eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>